@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?60407400');
  src: url('../fonts/fontello.eot?60407400#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?60407400') format('woff'),
       url('../fonts/fontello.ttf?60407400') format('truetype'),
       url('../fonts/fontello.svg?60407400#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?60407400#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-trash:before { content: '\64'; } /* 'd' */
.icon-facebook-circled:before { content: '\66'; } /* 'f' */
.icon-gplus-circled:before { content: '\67'; } /* 'g' */
.icon-left:before { content: '\6c'; } /* 'l' */
.icon-paypal:before { content: '\70'; } /* 'p' */
.icon-twitter-circled:before { content: '\74'; } /* 't' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e801'; } /* '' */
.icon-undo:before { content: '\e802'; } /* '' */
.icon-floppy:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */